{% extends "layouts/project-layout.html" %}
{% set pageName = "Values and Principles" %}
{% set pageDescription = "The values and principles we work to as a design community." %}
{% set selectedNav = "" %}
{% set setSelectedSideNav = "" %}
{% set lastUpdated = ""%}
{% set backlog_issue_id = "" %}
{% set projectsHome = "true" %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <section>
    <div class="dfe-grid-container dfe-grid-container--thirds">
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We listen, learn, <br/>and grow </a>
          </h2>
          <p class="govuk-body govuk-body-l">We're always learning, from feedback, from each other, to grow and develop our profession.</p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We share our work and talk about it openly</a>
          </h2>
          <p class="govuk-body govuk-body-l">This helps everyone understand what we're doing and why. We don't work behind closed doors.</p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We put our <br/>users first </a>
          </h2>
          <p class="govuk-body govuk-body-l">We design for our users, not the loudest voice in the room.</p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We use <span class="keep-words-together">human-centred</span>
              <br/>design principles </a>
          </h2>
          <p class="govuk-body govuk-body-l">We use industry standards, government design principles, and laws of UX. Not whats trendy.</p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We solve the <br/>root cause problem </a>
          </h2>
          <p class="govuk-body govuk-body-l">Not what someone thinks is the problem - we keep asking why and how can we make this better</p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/principles/accessible-inclusive-design/">We fight for <br/>accessibility and inclusivity</a>
          </h2>
          <p class="govuk-body govuk-body-l">We shouldn't have to, but we bloody well have to.</p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We all work for the same organisation</a>
          </h2>
          <p class="govuk-body govuk-body-l">There is no us and them, we are one design community.</p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We design for sustainability and performance</a>
          </h2>
          <p class="govuk-body govuk-body-l"> Don't get fancy, we design and make things that are efficient and work for our users. </p>
        </div>
      </div>
      <div class="dfe-card dfe-card--min-height">
        <div class="dfe-card-container dfe-card-container--equalise-content">
          <h2 class="govuk-heading-l">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">We stick to these <br/>values and principles </a>
          </h2>
          <p class="govuk-body govuk-body-l">But they aren't set in stone, they can, and will, change.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}