{% extends "layouts/project-layout.html" %}
{% set pageName = "Our work" %}
{% set pageDescription = "Read about some of the work we're doing in the Department for Education from the teams delivering the work." %}
{% set selectedNav = "Our  work " %}
{% set setSelectedSideNav = "" %}
{% set lastUpdated = ""%}
{% set backlog_issue_id = "" %}
{% set projectsHome = "true" %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <section class="govuk-!-margin-bottom-9">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dfe-o-banner govuk-!-margin-top-2">
          <div class="dfe-o-banner__content-container">
            <div class="dfe-o-banner__inner-content-container">
              <h2 class="govuk-heading-l"> Family Hubs: Growing up well digital project </h2>
              <p class="govuk-body-l"> The project works across education, health, and social care to improve outcomes for vulnerable and disadvantaged children, young people, and families. </p>
              <p>
                <a href="/our-work/family-hubs" target="_blank" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read about this project</a>
              </p>
            </div>
          </div>
          <div class="dfe-o-banner__image-container">
            <figure class="dfe-a-image dfe-a-image--cover">
              <picture class="dfe-a-image__picture">
                <img src="/assets/images/family-hubs.jpeg" alt=""/>
              </picture>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="dfe-grid-container dfe-grid-container--thirds">
      <div class="dfe-card">
        <picture>
          <img src="/assets/images/image2-1-1536x1024.jpg" alt=""/>
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">Apply the Service Standard</a>
          </h2>
          <p> How we are enabling and supporting teams across DfE understand and apply the Government Service Standard in the context of users of our services. </p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <img src="/assets/images/image2-1-1536x1024.jpg" alt=""/>
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">Apply the Service Standard</a>
          </h2>
          <p> How we are enabling and supporting teams across DfE understand and apply the Government Service Standard in the context of users of our services. </p>
        </div>
      </div>
      <div class="dfe-card">
        <picture>
          <img src="/assets/images/image2-1-1536x1024.jpg" alt=""/>
        </picture>
        <div class="dfe-card-container">
          <h2 class="govuk-heading-m">
            <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/design-system">Apply the Service Standard</a>
          </h2>
          <p> How we are enabling and supporting teams across DfE understand and apply the Government Service Standard in the context of users of our services. </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}